*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family:sans-serif;
}
#topo{
    display: flex;
    background-color: rgb(233, 224, 224);
    margin: 30px;
    justify-content: center;    
    border: 1px solid blue;  
}
#corpo{
    display: flex;
    background-color: rgb(233, 224, 224);
    margin: 30px;
    padding: 10px;
    flex-direction: column;
    height: fit-content; 
    border: 1px solid red;       
} 
h3{
    color: black;
    font-size: 50px;
    background-color: rgba(114, 114, 114, 0.452);
    width: fit-content;
} 
button{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    margin: 5px;
    border: none;
    background-color: gray; 
    cursor: pointer;
}
button:hover{
    background-color: greenyellow;
}
/*Tag link estilizada com botão*/
#Botaolink:link, #Botaolink:visited {
background-color: #f44336;
color: white;
padding: 15px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
margin: 10px;
border-radius: 10px;
}
#Botaolink:hover, #Botaolink:active {
background-color: red;
}
/* 
Coloração dos links
link não visitado azul
link visitado roxo
link ativo vermelho*/
a:link {
color: blue;
background-color: transparent;
text-decoration: none;
}
a:visited {
color: purple;
background-color: transparent;
text-decoration: none;
}
/* a:hover {
color: black;
background-color: transparent;
text-decoration: underline;
} */
a:active {
color: red;
background-color: transparent;
text-decoration: underline;
}
img{
border: 1px solid red;
margin: 5px;
}