h1{
    font-size: 80px;
    background-color: blue;
    text-align: center;
}

#myId{/*Estilizando a div por Id(#)*/
    width: fit-content;/*Ajusta a largura de acordo com o item*/
    height: 200px;
    background-color: red;
    border: 1px solid black;
    margin: 30px;
    display: flex;
    align-self: flex-end;
}
.myClass{/*Estilizando a div por Class(.)*/
    width: 30%;
    height: 200px;
    background-color: blue;
    border: 1px solid black;
    margin: 30px;
}

#myInput{
    margin: 20px;
    width: 80%;
    height: 50px;
    border: 2px solid rgb(126, 125, 125);
    border-radius: 10px;
    padding: 10px;
    font-size: 40px;
    color: #ddd8d8;
    
}
.flex-container-inicial{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center; /*centro da div */
    justify-content: center; /*centro da linha*/
    background-color: rgb(210, 210, 211);
    background-image: url(./..//img/monalisa.jpg);
}
.flex-container-i{
    margin: 30px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    border: 3px solid red;
    padding: 10px;
}
.flex-container-ii {
    margin: 30px;
    border: 3px solid #73AD21;
    padding: 5px;
    display: flex;
    align-items: stretch; /*Alinha os itens lado a lado*/
    flex-wrap: wrap; /*Faz uma quebra de linha*/
    justify-content: center; 
  }
.flex-container-rodape{
    height: 400px;
    width: 100%;
    background-color: rgb(29, 29, 29);
}
#flex-item{
    background-color: blueviolet;
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
}
#flex-item:hover{
    background-color: red;
    
}

